:root {
  --primary-color: #822cec;
  --editor-bg: #f9f9f9;
}

[data-theme="dark"] {
  --primary-color: #822cec;
  --editor-bg: #2d2d2d;
}

[data-theme="dark"] .codeflask {
  background: var(--editor-bg);
}

[data-theme="dark"] .codeflask.codeflask--has-line-numbers:before {
  background: #363636;
}

[data-theme="dark"] .codeflask__lines__line {
  color: #fff;
}

[data-theme="dark"] .codeflask__textarea {
  color: #333;
}

.repl-wrapper {
  max-width: 1600px;
  font-family: Arial;
  border: 2px solid var(--editor-bg);
  border-radius: 4px;
  margin: 0 auto;
}

.repl-options {
  background: var(--editor-bg);
  padding: 12px 10px;
}

.repl-options-framework div {
  display: inline-block;
}

.repl-options-right {
  display: flex;
  width: 50%;
  margin-left: 50%;
  justify-content: space-between;
}

.repl-options select {
  position: relative;
  background: #fff;
  color: var(--primary-color);
  font-size: 0.9em;
  padding: 5px;
  border: 0;
  border-radius: 3px;
}

.repl-options label {
  color: #aaa;
  display: inline-block;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 15px 0 0;
}

.repl-options input[type="radio"] {
  display: none;
}

.repl-options input[type="radio"]:checked ~ label {
  background: #fff;
  color: var(--primary-color);
}

.editor-wrapper {
  display: flex;
}

.editor-wrapper > div {
  flex: 1;
  position: relative;
  width: 100%;
  height: 500px;
}

.hide-css-tab {
  position: absolute;
  bottom: 0px;
  height: 20px;
  width: 100%;
  z-index: 10;
}

.hide-css-tab > div :nth-child(1) {
  display: none;
}

.show-css-tab {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 10;
  height: 300px;
  animation: open-tab 0.8s;
}

.show-css-tab > div :nth-child(1){
  display: block;
}

.css-tab-header {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  cursor: pointer;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.javascript-editor {
  height: calc(100% - 20px);
}

.javascript-editor > div {
  height: calc(100% - 20px);
}

@-webkit-keyframes open-tab {
  0%   { height: 20px; }
  100% { height: 300px; }
}
@-moz-keyframes open-tab {
  0%   { height: 20px; }
  100% { height: 300px; }
}
@-o-keyframes open-tab {
  0%   { height: 20px; }
  100% { height: 300px; }
}
@keyframes open-tab {
  0%   { height: 20px; }
  100% { height: 300px; }
}