name: Publish

on:
  push:
    branches:
      - 'development'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: "13.x"

      - run: yarn
      - run: yarn run lint
      - run: yarn run build
      - run: yarn run test:coverage
      - run: yarn run upload:coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Authenticate with Registry
        run: |
          yarn logout
          echo "@teleporthq:registry=http://registry.npmjs.org/" > .npmrc
          echo "registry=http://registry.npmjs.org/" >> .npmrc
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
          npm whoami
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish to npm
        run: yarn run publish --yes
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
